__pycache__/
*.py[cod]
*$py.class

.poetry/

.env
.venv
venv/
ENV/

.vscode/
.idea/

.DS_Store
Thumbs.db

hosts.txt
results.csv
results.json
*.log

htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.pytest_cache/
.cache/

.mypy_cache/
.pyright/
pylint-report.txt

build/
dist/
*.egg-info/
*.egg
.eggs/

.ipynb_checkpoints/
